body {
    width: 600px;
    margin: 10px auto ;
    padding: 20px;
    border:1px solid black;
    border-radius: 10px;
}

div.message {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

div.message * {
    margin-right: 5px;
}


#auth-panel {
    margin-bottom: 10px;
    position: relative;
}

#auth-panel button{
    display: none
}

#auth-panel div{
    position: absolute;
    right: 0;
    top: -1px;
}

h1 {
    font-size: 21px;
    margin-top: 0px;
}

#form-auth,
#form-reg{
    display: none;
}

.visible {
    display: block;
}

#post-message input{
    width: 86.3%;
}

#chat {
    margin-bottom: 20px
}

#get-data {
    display: none;
}